:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color-hover: #e1e0de;
  --primary-color: #f0efee;
  --secondary-color: #CED4DA;
  --primary-text-hover: black;;
  --primary-text: #213547;
  --maroon: #7a0019;
  --yellow: #fc3
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


